[data-theme="light"] {
  --bg-color: #ffffff;
  --text-color: #333;
  --heading-color: #444;
}

[data-theme="dark"] {
  --bg-color: #333;
  --text-color: #fff;
  --heading-color: #ddd;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.page {
  display: flex;
  flex-direction: column;
  height: 92vh;
}

.navbar {
  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar div {
  display: flex;
  gap: 20px;
}

.navbar a {
  text-decoration: none;
  color: inherit;
}

.navbar a.active {
  border-bottom: 3px solid purple;
}

.mode-switch label {
  height: 20px;
  width: 40px;
  display: inline-block;
  position: relative;
  margin-right: 20px;
}

.mode-switch .slider {
  position: absolute;
  border-radius: 20px;
  background-color: #ccc;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
}

.mode-switch input:checked + .slider {
  background-color: rgb(72, 194, 242);
  transition: 0.4s;
}

.mode-switch .slider::before {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  bottom: 2px;
  left: 2px;
  transition: 0.4s;
}

.mode-switch input:checked + .slider::before {
  transform: translateX(20px);
  transition: 0.4s;
}
